*,
*::after,
*::before{
    padding: 0;
    margin: 0;;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

.wrapper{
    width: 720px;
    margin: 0 auto;
}

.header{
    text-align: center;
}

.header img{
    display: inline-block;
    margin: 60px 0 80px 0;
}

.game{
    border-radius: 70px;
    width: 465px;
    height: 465px;
    background: linear-gradient(180deg, #ffe195 0%, #ff5b5b 100%);
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
}

.game img,
.footer p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.text h1{
    font-weight: 700;
    font-size: 50px;
    color: #000;
    margin-bottom: 30px;
}

.text{
    text-align: center;
}

.text p{
    font-weight: 500;
    font-size: 18px;
    line-height: 137%;
    color: #000;
    margin-bottom: 30px;
}

.text a,
.godcow a{
    border-radius: 100px;
    padding: 22px 70px;
    width: 227px;
    height: 69px;
    background: #ff6861;;
    font-family:"Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #ff6861;;
    transition: 0.8s;
}

.text a:hover,
.godcow a:hover{
    color: #000;
    background: #fff;
}

.revard{
    margin-bottom: 50px;
}

.text a{
    margin-bottom: 120px;
}

.list h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    text-align: center;
    margin-bottom: 70px;
}

.pict{
    border-radius: 20px;
    width: 73px;
    height: 73px;
    line-height: 78px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    display: inline-block;
    margin-right: 34px;
}

.inersText{
    display: inline-block;
}

.inersText .title{
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    margin-bottom: 10px;
}

.inersText .subTitle{
    font-weight: 400;
    font-size: 30px;
    line-height: 137%;
}

.iner{
    margin-bottom: 41px; 
    display: flex;
}

.godcow{
    border-radius: 60px;
    padding: 101px 37px;
    width: 100%;
    background: linear-gradient(148deg, #fff6df 0%, #ffdfde 100%);
    text-align: center;
}


.godcow img{
    margin-bottom: 100px;
}

.godcow h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    margin-bottom: 25px;
}

.godcow p{
    font-weight: 500;
    font-size: 18px;
    line-height: 137%;
    margin-bottom: 25px;
}

.footer{
    height: 260px;
    position: relative;
}

.footer p{
    font-weight: 400;
    font-size: 15px;
}